
/* Benjamín Expósito Jaramillo				  */
/* PRACTICA FINAL - HTML y CSS                */
/* GTIDM 2023								  */ 


/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DEL CUERPO
------------------------------------------------------------------------------------------------------------------------
*/

html, body { overflow-x: hidden; }

* {	box-sizing: border-box; }

h2 {
	font-family: "Inknut Antiqua", sans-serif;
	line-height: 1.5em;
}

ul {
	list-style-type: none;
	display: flex;
	gap: 5px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover { text-decoration: underline; }

a:visited {
	text-decoration: none;
	color: #092F38;
}

button {
	background-color: #15697C; 
	color: white; 
	padding: 3px 20px; 
	font-size: 13pt;
	font-weight: 600;
	border: 2px solid black;
	border-color: black;
	border-radius: 25px;
	
}

button:hover {
	background-color: #15697C;
	border-color: white;
}

button:active {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #093843;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14pt;
	font-family: "Inter", sans-serif;
	background-color: #050C14;
}

.container{
	max-width: 1170px; 
	margin: 0 auto 0 auto;
}


/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DEL HEADER
------------------------------------------------------------------------------------------------------------------------
*/


body header {
	position: fixed;
	top: 0;
	z-index: 99999;
	width: 100vw;
	background-color: #1FA2C0;
}

#cabecera_centrada {
	max-width: 1170px;
	margin: auto;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px; 
}

.header-izquierdo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.idioma {
	padding: 5px;
	font-size: 1rem;
	background-color: transparent;
	border: none;
	font-weight: 600;
	font-family: "Inter", sans-serif;
}

option {
  background-color: white;
  color: black;
  border: 0;
}

option:hover {
  background-color: black;
  color: white;
}

.header-derecho {
	display: flex;
	gap: 15px;
	align-items: center;
}

.header-derecho div {
	display: flex;
	align-items: center;
}

.header-derecho a { font-size: 14px; }

#icon1 {

	border:1px solid black;
	border-radius: 50%;
	text-align:center;
	padding: 3px 4px ;
	background-color: #70D3EA;
	width: 25px;
	height: 25px;
}

#icon2 {
	border:1px solid black;
	border-radius: 50%;
	text-align:center;
	padding: 3px 6px ;
	background-color: #70D3EA;
	width: 25px;
	height: 25px;
}

.icon-label {
	display: none;
	text-decoration: none;
	color: #000;
	margin-left: 4px;
}

.nav-menu {
	display: flex;
	align-items: center;
}

.menu-links { display: none; }

.mobile-menu {
	display: none;
	flex-direction: column;
	background-color: #ddd;
	padding: 10px;
}

.mobile-menu a { padding: 10px; }

/* Ocultamos el input y le damos estilos al label */

input#abrir-cerrar { 
	visibility:hidden;
	position: absolute;
	top: -9999px;
}
	
.toggle-button {
	display:block;
	border-radius: 50%;
	width:40px;
	background-color: #70D3EA;
	height:40px;
	border:1px solid black;
	position:relative;
	cursor: pointer;
	box-sizing: border-box;
}

/* Usamos los :before y :after del label para dibujar las tres rayitas */
	
.toggle-button:before, .toggle-button:after {
	position:absolute;
	display:block;
	content:" ";
	width: 24px;		   
	box-sizing: border-box;
	left: 7px;
	transition: all 0.2s ease-out;
}
	.toggle-button:before {
	top: 10px;
	height: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: transparent;
}

.toggle-button:after {
	height:2px;
	background-color:black;
	bottom:10px;
}

/* Hacemos clic y el input queda como :checked, así que los centramos y giramos 45º en distinto sentido 
https://www.campusmvp.es/recursos/post/como-crear-un-boton-de-menu-hamburguesa-solo-con-css-sin-imagenes-ni-javascript.aspx */

input#abrir-cerrar:checked + .toggle-button:before, input#abrir-cerrar:checked + .toggle-button:after {
	top: 20px;
	height:2px;
	border-bottom:0;
}

input#abrir-cerrar:checked + .toggle-button:before { transform: rotate(45deg); }

input#abrir-cerrar:checked + .toggle-button:after { transform: rotate(-45deg); }
	
/* Posicionamos y mostramos cuando procede los <span> que nos ayudarán con los tooltips */

.abrir { display: block; }

.cerrar {
	display:none;
	position: fixed;
	top: 60px;
	left: 0px;
	margin: auto;
	text-align: center;
	z-index: 99999; /* Indice Z, para mostrar el bloque por encima de todos los demas */
	width: 100vw;
	height: 60px;
	background-color: #1FA2C0;
}

input#abrir-cerrar:checked + .toggle-button .abrir { display:none; }

input#abrir-cerrar:checked + .toggle-button .cerrar {
	display:flex;
	justify-content: space-around;
	gap: 20px;
	align-items: center;
	padding: 15px;
	font-weight: bold;
}   

main { padding-top: 60px; }


/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DEL BANNER
------------------------------------------------------------------------------------------------------------------------
*/

#banner {
	background-image: url("../imagenes/header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	width: 100vw;
	text-align: center;
	color: white;
	padding-top: 3em;
	padding-bottom: 160px;
}

#banner h1 {
	font-family: "Rye", serif;
	font-size: 32pt;
	font-weight: 400;
}

#banner_title {
	width: 360px;
	padding: 10px;
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DE CARRUSEL
------------------------------------------------------------------------------------------------------------------------
*/

#carrusel { margin: auto; }

#logos_patrocinadores {
	margin: 54px auto;
	background-image: url("../imagenes/carrusel_logos.png");
	height: 100px;
	animation: scroll-background 15s linear infinite;
	padding: 15px;
}

@keyframes scroll-background {
	0% { background-position: 0 0; }
	100% { background-position: 1000px 0; }
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DE PELÍCULAS PREMIADAS
------------------------------------------------------------------------------------------------------------------------
*/

#premiadas { background-color: #70D3EA; }

#premiadas_contenido h2 {
	text-align: center;
	padding: 35px;
}

.articulos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap; 
	gap: 20px;
}

#premiadas_contenido article, .carrusel li{
	border-radius: 28px 28px 20px 20px;
	padding: 0;
	margin: 0;
	background-color: white;
	width: 300px;
	height: 300px;
}

.texto_peli {
	font-size: 11pt;
	padding: 5px 10px;
	margin: 0;
}

.titulo_peli {
	font-size: 16pt;
	padding: 0 10px;
	margin: 0;
	font-weight: 600;
}

.poster1, .poster2, .poster3, .poster4, .poster5 {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 180px;
	border-radius: 20px 20px 0 0;
	background-image: url("../imagenes/evil.jpg");
	background-position: center center;
	background-size: 110%;
}

.poster2 { background-image: url("../imagenes/polter.jpg"); }

.poster3 { background-image: url("../imagenes/cumbre.jpg"); }

.poster4 { background-image: url("../imagenes/phenom.jpg"); }

.poster5 { background-image: url("../imagenes/13.jpg"); }

.enlace_bloque {
	display: block;
	text-align: center;
	padding: 45px;
}
.enlace_bloque a {
	font-weight: 600;
	font-size: 13pt;
	Color: black;
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICION DE ACCESO A LA PROGRAMACION
------------------------------------------------------------------------------------------------------------------------
*/

#accede_programacion{
	padding: 30px 0 100px 0;
	margin: auto;
}

#accede_programacion { Color: white; }

#accede_programacion h2 {
	text-align: center;
	padding: 30px;
}

#accede_programacion hr { width: 320px; }

#accede_programacion p {
	margin: auto;
	text-align: center;
	padding: 30px;
	max-width: 640px;
}

#accede_programacion button {
	margin: auto;
	display: block;
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICIÓN DE FOOTER
------------------------------------------------------------------------------------------------------------------------
*/

#suscrip_patroci {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
	background: linear-gradient(to bottom, #70D3EA 50%, #092F38 50%);
}

/*                           SUSCRIBETE                                  */

#suscripcion {
	background-color: #70D3EA;
	padding: 0 20px;
}

#newsletter_form {
	max-width: 460px;
	padding:  20px 0;
}

#newsletter_form > *{
	display: block;
	max-width: 460px;
	padding: 10px;
	margin: auto;
}

#privacidad {
	padding: 10px 0 ;
	max-width: 460px;
}

#newsletter_form form > * {
	display: block;
	font-size: 11pt;
}

#newsletter_form h2 { text-align: center; }

#newsletter_form span { font-size: 11pt; }

input[type="text"], input[type="email"]  {
	border-radius: 20px;
	border: 1px solid black;
	width: 100%;
	height: 20px;
}

#newsletter_form form button {
	margin: 8px auto;
	font-size: 13pt;
}

#social-list {
	justify-content: center;
	font-size: 18pt;
}


/*                           PATROCINADORES                                  */


#patrocinadores {
	padding: 0 20px;
	max-width: 460px;
}

#patro_contenido {
	padding: 0 0 103px 0;
	width: 100%;
}

#patro_contenido > * { width: 100%; }

#patro_contenido h3 {
	Color: white;
	text-align: center;
	font-family: "Inknut Antiqua", sans-serif;
	padding: 10px;
}

#patro_contenido img {
	max-width: 100px;
	max-height: 100px;
}

#patro_contenido nav {
	display: flex;
	justify-content: center;
	margin: auto;
}

#patro_contenido ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4px 8px;
}


/*                            ENLACES VARIOS                                  */

#enlacesV {
	background-color: black;
	padding: 20px;
}
#enlacesV ul {
	justify-content: space-around;
	flex-wrap: wrap;
}

#enlacesV li {
	width: 320px;
	text-align: center;
}

#enlacesV a { color: white; }

/*                              COPY RIGHT                                    */


#cright {
	background-color: #70D3EA;
	margin: auto;
	text-align:center;
	padding: 6px;
}

#cright p { font-size: 11pt; }


/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICIÓN DE LA PÁGINA DE PROGRAMACIÓN
------------------------------------------------------------------------------------------------------------------------
*/

#filtros { padding: 35px; }

#filtros ul {
	flex-wrap: wrap;
	justify-content: center;
	gap: 8px;
}

#filtros li{
	background-color: #70D3EA;
	border-radius: 6px;
	padding: 4px 15px;
	font-size: 11pt;
	font-weight: 600;
}

.carrusel {
	margin: auto;
	overflow: hidden;
	max-width: 300px;
}

.titulo_programa {
	color: white;
	margin:  0 20px 20px 20px;
}

.carrusel ul {
	gap: 10px;
	position: relative;
}

.flechas-carrusel, .flechas-carrusel2 {
	margin: auto;
	text-align: center;
	padding: 10px 0 30px 0;
}

.flechas-carrusel button, .flechas-carrusel2 button{
	padding: 10px 18px;
	border-radius: 50%;
	font-size: 18pt;
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICIÓN DE LA PÁGINA DE SOBRE EL FESTIVAL
------------------------------------------------------------------------------------------------------------------------
*/

#banner2{
	background-image: url("../imagenes/header.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 200px;
}

#historia { background-color: #70D3EA; }

#mision { background-color: #092F38; }

#historia_contenido, #mision_contenido { padding: 40px; }

#historia_contenido p, #mision_contenido p{ text-align: justify; }

#historia_contenido h2, #mision_contenido h2{
		text-align: center;
		font-size: 28pt;
		padding: 0;
		margin: 0;
}

#mision_contenido { color: white; }

.mobile_img {
    width: 100%;
    height: 315px;
	object-fit: cover;
    object-position: right;
	border-radius: 15px;
}

#mision_contenido .mobile_img  { object-position: left; }

.desk_img { display: none; }

#organizadores {
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	margin: auto;
	overflow: hidden;
	max-width: 230px;
}

#organiz_contenido {
	display:flex;
	justify-content: center;
	gap: 10px;
	position: relative;
}

#organiz_contenido li {
	width: 110px;
	font-size: 10pt;
}

#organiz_contenido img {
	width: 110px;
	height: 110px;
	object-fit: cover;
    object-position: bottom;
}

/*
------------------------------------------------------------------------------------------------------------------------
											DEFINICIÓN DE LA PÁGINA FICHA
------------------------------------------------------------------------------------------------------------------------
*/

#banner3{
	background-image: url("../imagenes/evil.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120%;
	background-position: center -70px;
	height: 330px;
}


.texto_ficha {
	margin: 10px 0;
}

.texto_ficha > * {
	color:white;
	margin: 0 10px;
}

.texto_ficha h3 {
	font-family: "Inknut Antiqua", sans-serif;
}

.texto_ficha p{
	font-size: 12pt;
}

#reserva {
	padding: 10px;
}

#reserva table {
	width: 300px;
	height: 300px;
}
/*
------------------------------------------------------------------------------------------------------------------------
											MODO ESCRITORIO
------------------------------------------------------------------------------------------------------------------------
*/

@media (min-width: 1120px) {
	#suscrip_patroci { background: linear-gradient(to right, #70D3EA 50%, #092F38 50%);	}
	
	.flechas-carrusel2 { display: none; }
	
	#organizadores { max-width: 100%; }
	
	#banner3{
		background-size: 108%;
		background-position: center -430px;
	}	

	#ficha_pelicula {
		display: flex;
		flex-wrap: wrap;
	}

	.columna {
		width: 33%;
	}
	
}

@media (min-width: 768px) {
		
	.toggle-button { display: none; }

	.menu-links {
		display:flex;
		gap: 20px;
		padding: 0;
		margin: 0;
	}

	.menu-links a {
		font-weight: 600;
		font-size: 14pt;
	}

	.mobile-menu { display: none; }
	
	.icon-label {
		display: inline;
		font-size: 1rem;
	}
	
	.icons { gap: 25px;	}
	
	#banner_title {
		width: 640px;
		height: 480px;
		padding: 10px;
	}
	
	#banner h1 {
		font-family: "Rye", serif;
		font-size: 40pt;
		margin-top: 220px;
		font-weight: 400;
	}
		
	#suscripcion { padding: 0 50px; }

	#patrocinadores {
		padding: 0 100px;
		max-width: 560px;
	}
		
	#patro_contenido ul { gap: 4px 8px;	}

	.carrusel {	max-width: 920px; }

	#banner2{
		background-size: cover;
		height: 300px;
	}
	
	#historia_contenido h2, #mision_contenido h2 { text-align: left; }

	.desk_img {
		display:block;
		float: right;
		width: 50%;
		height: 530px;
		object-fit: cover;
		padding: 20px 10px 20px 20px;
		object-position: right;
		border-radius: 40px;
	}
	
	#mision_contenido .desk_img {
		float: left;
		padding: 20px 20px 20px 10px;
		object-position: left;
	}
	
	.mobile_img { display: none; }
	
}